{% extends 'base.html.twig' %}

{% block title %}Вход для пользователей{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}

{% block body %}
    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="text-center mb-4">
                <h1>
                    <a href="." class="navbar-brand navbar-brand-autodark"><img src="{{ absolute_url('/app/images/logo.png') }}" height="60" alt="">
                        Автор
                    </a>
                </h1>
            </div>
            <form class="card card-md" method="post">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Смена пароля</h2>
                    <p class="text-muted mb-4">
                        В целях безопасности необходимо сменить выданный пароль на новый.
                        Обращаем ваше внимание что пароль должен содержать не менее 6 символов и
                        включать в себя как цифры так и буквы.
                    </p>
                    <div class="mb-3">
                        <label class="form-label">Текущий пароль</label>
                        <input type="password" required class="form-control" name="old_password">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Новый пароль</label>
                        <input type="password" required class="form-control" name="new_password">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Повторите новый пароль</label>
                        <input type="password" required class="form-control" name="re_new_password">
                    </div>

                    <div class="form-footer">
                        <button type="submit" href="#" class="btn btn-primary w-100">
                            Сменить пароль
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
