{% extends 'base.html.twig' %}

{% block title %}Manuscript{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('manuscript') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('manuscript') }}
{% endblock %}

{% block body %}
    <div class="page">
        {% include('block/aside.html.twig') %}
        <div class="page-wrapper">
            {% include 'block/header.html.twig'
                with {
                header: 'Рукопись',
            }
            %}
        </div>
    </div>
{% endblock %}
